<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <%= javascript_importmap_tags %>
     <%= javascript_include_tag 'application', crossorigin: 'anonymous' %>
  </head>

  <body>
    <div class = 'container'>
       <div id="flash-messages">
         <% flash.each do |key, value| %>
           <div class="flash <%= key %>">
             <%= value %>
           </div>
         <% end %>
       </div>
      <%= yield %>
    </div>
    <%= javascript_include_tag 'https://kit.fontawesome.com/198fcc7e17.js', crossorigin: 'anonymous' %>
  </body>
</html>
